colpali-engine
pdf2image
GPUtil
accelerate
openai
gradio[mcp]
tqdm
Pillow
gradio-pdf
qdrant-client
numpy
# uv pip install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/cu129